.title {
    width: auto;
    height: 100px;
}

.button {
    width: 75px;
    margin: 10px;
}

body {
    padding: 30px;
    background: #4568DC;
    background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);
    background: linear-gradient(to right, #B06AB3, #4568DC);
}

#pokemon {
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 1em;
    margin: 15px;
}

.center {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
}

.poke {
    width: 300px;
    height: 300px;
}